<FilesMatch ".(ttf|otf|eot|woff|woff2)$">
  <IfModule mod_headers.c>
    Allow from all
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>


<IfModule mod_rewrite.c>

 <IfModule mod_negotiation.c>

  Options -MultiViews -Indexes

 </IfModule>

 RewriteEngine On



 RewriteCond %{REQUEST_FILENAME} !-d

 RewriteCond %{REQUEST_URI} (.+)/$

 RewriteRule ^ %1 [L,R=301]

 RewriteCond %{REQUEST_FILENAME} !-d

 RewriteCond %{REQUEST_FILENAME} !-f

 RewriteRule ^ index.html [L]


</IfModule>
