@font-face {
    font-family: 'fc_lamoonbold';
    src: url('fc_lamoon_bold_ver_1.00-webfont.eot');
    src: url('fc_lamoon_bold_ver_1.00-webfont.eot?#iefix') format('embedded-opentype'),
    url('fc_lamoon_bold_ver_1.00-webfont.woff2') format('woff2'),
    url('fc_lamoon_bold_ver_1.00-webfont.woff') format('woff'),
    url('fc_lamoon_bold_ver_1.00-webfont.ttf') format('truetype'),
    url('fc_lamoon_bold_ver_1.00-webfont.svg#fc_lamoonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fc_lamoonregular';
    src: url('fc_lamoon_regular_ver_1.00-webfont.eot');
    src: url('fc_lamoon_regular_ver_1.00-webfont.eot?#iefix') format('embedded-opentype'),
    url('fc_lamoon_regular_ver_1.00-webfont.woff2') format('woff2'),
    url('fc_lamoon_regular_ver_1.00-webfont.woff') format('woff'),
    url('fc_lamoon_regular_ver_1.00-webfont.ttf') format('truetype'),
    url('fc_lamoon_regular_ver_1.00-webfont.svg#fc_lamoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    overflow-x: hidden;

    /*background: linear-gradient(to bottom, #a2efb6 10%, transparent 70%) no-repeat fixed top;*/
}

.hidden {
    display: none;
}

.card-shadow {
    box-shadow: 0 0 20px #888888;
    margin-bottom: 10px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}


/*@font-face {*/
/*    font-family: 'FCLamoon';*/
/*    src: url('FCLamoonRegular.eot?#iefix') format('embedded-opentype'),*/
/*    url('FCLamoonRegular.woff') format('woff'),*/
/*    url('FCLamoonRegular.ttf')  format('truetype'),*/
/*    url('FCLamoonRegular.svg#FCLamoonRegular') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

.nav-link-collapse {
    color: #000000;
}

.nav-link-collapse:hover {
    color: #6c757d;
}

@media (max-width: 1024px) {
    .pc-view {
        display: none;
    }


    #leftmenu {
        width: 100%;
    }

    #leftcontent {
        width: 100%;
    }
}
@media (min-width: 1200px) {

    }
    


@media (min-width: 1440px) {
    #leftmenu {
        width: 20%;
        padding-left: 10px;
    }

    #leftcontent {
        width: 80%;
        padding: 0 10px 0 10px;
    }
    
}

a {
    cursor: pointer;
}

[disabled] {
    cursor: not-allowed;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    white-space: nowrap;
}

table.dataTable.table-sm > thead > tr > th {
    padding-right: 20px;
    white-space: nowrap;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
    padding: 4px 5px 0 5px;
!important;
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, .5);
}

.carousel-indicators .active {
    background-color: #000000;
}

/*.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #28a745;
}*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 250px;*/
}

.footer {
    /*position: absolute;*/
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    height: 200px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body > .containerfooter {
    /*padding: 60px 15px 0;*/
}

.footer > .containerfooter {
}

code {
    font-size: 80%;
}

/* #mytab */

#myTab .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /*background-color: #fff;*/
    /*border-color: #dee2e6 #dee2e6 #fff;*/
    font-size: larger;
    color: black;
    background-color: #FFDE17;
    border-bottom: 2px gray;



}

#myTab .nav-item.show .nav-link, .nav-tabs .nav-link {
    /*background-color: #fff;*/
    /*border-color: #dee2e6 #dee2e6 #fff;*/
    color: black;
}

/* IMG filter */
.grayscale {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.brightness {
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
}

.contrast {
    -webkit-filter: contrast(200%);
    filter: contrast(200%);
}

.dropshadow {
    -webkit-filter: drop-shadow(8px 8px 10px black);
    filter: drop-shadow(8px 8px 10px black);
}

.huerotate {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.opacity {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.staturate {
    -webkit-filter: saturate(8);
    filter: saturate(8);
}

.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.contrast-brightness {
    -webkit-filter: contrast(200%) brightness(150%);
    filter: contrast(200%) brightness(150%);
}

.none {
    -webkit-filter: none;
    filter: none;
}

.tab-purchase.purchase-hide {
    display: none;
}
