@font-face {
    font-family: 'TH Fah kwang';
    src: url('THFahkwang-BoldItalic.eot');
    src: url('THFahkwang-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('THFahkwang-BoldItalic.woff2') format('woff2'),
        url('THFahkwang-BoldItalic.woff') format('woff'),
        url('THFahkwang-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TH Fah kwang';
    src: url('THFahkwang-Italic.eot');
    src: url('THFahkwang-Italic.eot?#iefix') format('embedded-opentype'),
        url('THFahkwang-Italic.woff2') format('woff2'),
        url('THFahkwang-Italic.woff') format('woff'),
        url('THFahkwang-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TH Fah kwang';
    src: url('THFahkwang-Bold.eot');
    src: url('THFahkwang-Bold.eot?#iefix') format('embedded-opentype'),
        url('THFahkwang-Bold.woff2') format('woff2'),
        url('THFahkwang-Bold.woff') format('woff'),
        url('THFahkwang-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TH Fah kwang';
    src: url('THFahkwang.eot');
    src: url('THFahkwang.eot?#iefix') format('embedded-opentype'),
        url('THFahkwang.woff2') format('woff2'),
        url('THFahkwang.woff') format('woff'),
        url('THFahkwang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

