/*chart*/
.line {
  margin-left: auto;
  margin-right: auto;
  border-left: 1px dashed #000000;
  width: 0px;
  height: 4em;
  
}
.picbox-big{
		text-align:center;
	    margin-left: auto;
		margin-right: auto;
		 border: 1px solid #000000;
		
		color:#000000;
		  transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		width:300px;
		height:200px;
	}
	.picbox-big:hover{
		-webkit-transform: scale(1.5);
		background-color:#9d8670;
		color:black;
		

		transform: scale(1.5);
		-ms-transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
	
	
	.picbox-big img{
	/*	transform: scale(0.5, 0.5);
		-ms-transform: scale(0.5, 0.5);
		-webkit-transform: scale(0.5, 0.5);
		*/
		
			margin-bottom:10px;
		 transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
		width:120px;
		height:130px;
	}

.picbox{
		text-align:center;
	    margin-left: auto;
		margin-right: auto;
		 border: 1px solid #606060;
		
		color:#000000;
		  transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		width:200px;
		height:240px;
		font-size:10px;
	}
	.picbox:hover{
		-webkit-transform: scale(1.5);
		background-color:#efefef;
		color:black;
		

		transform: scale(1.5);
		-ms-transform: scale(1.5);
		-webkit-transform: scale(1.5);
	}
	.picbox img{
	/*	transform: scale(0.5, 0.5);
		-ms-transform: scale(0.5, 0.5);
		-webkit-transform: scale(0.5, 0.5);
		*/
		
			margin-bottom:10px;
		 transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
		width:100px;
		height:130px;
	}
/* -----------*/
.hold{
	position:relative;
	
	
}
.org_title{  /* ป้ายชื่อสายงาน*/
	font-size:12px;
	color:#0033ff;
	margin-bottom:5px;
	padding:2px;
}
.tree {
	font-size:8px;
	z-index:1;
	color:white;
	margin:0 auto;
	padding-bottom:50px;
	display: inline-block;
	
    width: auto;
	/*width:100%; */ 
	
	/*   margin-left: auto;
	    margin-right: auto;
		*/
		background-color:#ccffcc;
		box-shadow:5px 5px 10px #000000;
		
}
	.tree ul {
		z-index:1;
	    padding-top: 20px;
		position: relative;  
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
		font-size:10px;
		
	
	}
	.tree li {
		font-size:8px;
	    float: left;
	    text-align: center;
	    list-style-type: none;
	    position: relative;
	    padding: 20px 5px 0 5px;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	}
	/*We will use ::before and ::after to draw the connectors*/
	.tree li::before, .tree li::after {
	    content:'';
	    position: absolute;
	    top: 0;
	    right: 50%;
	    border-top: 1px solid #000000;
	    width: 50%;
	    height: 20px;
	}
	.tree li:after {
	    right: auto;
	    left: 50%;
	    border-left: 1px solid #000000;
	}
	/*We need to remove left-right connectors from elements without 
any siblings*/
	.tree li:only-child::after, .tree li:only-child::before {
	    display: none;
	}
	/*Remove space from the top of single children*/
	.tree li:only-child {
	    padding-top: 0;
	}
	/*Remove left connector from first child and 
right connector from last child*/
	.tree li:first-child::before, .tree li:last-child::after {
	    border: 0 none;
	}
	/*Adding back the vertical connector to the last nodes*/
	.tree li:last-child::before {
	    border-right: 1px solid #000000;
	    border-radius: 0 5px 0 0;
	    -webkit-border-radius: 0 5px 0 0;
	    -moz-border-radius: 0 5px 0 0;
	}
	.tree li:first-child::after {
	    border-radius: 5px 0 0 0;
	    -webkit-border-radius: 5px 0 0 0;
	    -moz-border-radius: 5px 0 0 0;
	}
	/*Time to add downward connectors from parents*/
	.tree ul ul::before {
	    content:'';
	    position: absolute;
	    top: 0;
	    left: 50%;
	    border-left: 1px solid #000000;
	    width: 0;
	    height: 20px;
	    margin-left: -1px;
	}
	.tree li a {
	    border: 1px solid #000000;
	    padding: 5px 10px;
	    text-decoration: none;
	    color: #666;
	   /* font-family: arial, verdana, tahoma; */
	   /* font-size: 11px; */
	    display: inline-block;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	}
	/*Time for some hover effects*/
	/*We will apply the hover effect the the lineage of the element also*/
	.tree li a:hover, .tree li a:hover+ul li a {
	    background: #c8e4f8;
	    color: #000;
	    border: 1px solid #94a0b4;
	}
	/*Connector styles on hover*/
	.tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
	    border-color: #94a0b4;
	}
	li a.just-line {
	    display: none;
	}
	a.just-line + ul {
	    padding-top: 74px;
	}
	a.just-line + ul:before {
	    height: 74px;
	}