body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.card-shadow {
    box-shadow: 0 20px 20px #888888;
}

* {
    font-family: 'THSarabunNew';
    font-size: 14px;
!important;
}

.nav-link-collapse {
    color: #000000;
}

.nav-link-collapse:hover {
    color: #6c757d;
}

@media (max-width: 1024px) {
    .pc-view {
        display: none;
    }

    #leftmenu {
        width: 100%;
    }

    #leftcontent {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    #leftmenu {
        width: 20%;
        padding-left: 10px;
    }

    #leftcontent {
        width: 80%;
        padding: 0 10px 0 10px;
    }
}

a {
    cursor: pointer;
}

[disabled] {
    cursor: not-allowed;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    white-space: nowrap;
}

table.dataTable.table-sm > thead > tr > th {
    padding-right: 20px;
    white-space: nowrap;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
    padding: 4px 5px 0 5px;
!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #28a745;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body > .containerfooter {
    padding: 60px 15px 0;
}

.footer > .containerfooter {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* IMG filter */
.grayscale {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.brightness {
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
}

.contrast {
    -webkit-filter: contrast(200%);
    filter: contrast(200%);
}

.dropshadow {
    -webkit-filter: drop-shadow(8px 8px 10px black);
    filter: drop-shadow(8px 8px 10px black);
}

.huerotate {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.opacity {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.staturate {
    -webkit-filter: saturate(8);
    filter: saturate(8);
}

.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.contrast-brightness {
    -webkit-filter: contrast(200%) brightness(150%);
    filter: contrast(200%) brightness(150%);
}

.none {
    -webkit-filter: none;
    filter: none;
}

.tab-purchase.purchase-hide {
    display: none;
}
